{% load static %}
<html>
<head>
<meta charset="UTF-8" />
<title>T30-Guangzhou  Performance tracker</title>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<link rel="stylesheet" href="{% static 'chartshow/bootstrap/css/bootstrap.css'%}">
<link rel="stylesheet" href="{% static 'chartshow/css/main.css'%}">
</head>
<body>
<div class="container-fluid">
    <div class="row clolor-change">
        <div class="col align-self-start ">
          三分之一空间占位
        </div>
        <div class="col align-self-center">
          三分之一空间占位
        </div>
        <div class="col align-self-end">
            <kbd>三分之一空间占位</kbd>
        </div>
      </div>
</div>
<div id="container" style="width: 700px; height: 400px; margin: 0 auto"></div>
<script language="JavaScript">
$(document).ready(function() {
   var dict = {{ context_tml|safe }}
   console.log(dict);
   var title = {
       text: 'T30-GZ Performance Tracker'
   };
   var subtitle = {
        text: 'Performance of Smartsheet activity level'
   };
   var xAxis = {
       categories: ['上周 smartsheet TestMatrix 提交数量']
   };
   var yAxis = {
      title: {
         text: '统计数量'
      },
      plotLines: [{
         value: 0,
         width: 1,
         color: '#808080'
      }]
   };

   var tooltip = {
      valueSuffix: '条'
   }

   var legend = {
      layout: 'vertical',
      align: 'right',
      verticalAlign: 'middle',
      borderWidth: 0
   };

   var series = dict
   console.log(series);

   var json = {};

   json.title = title;
   json.subtitle = subtitle;
   json.xAxis = xAxis;
   json.yAxis = yAxis;
   json.tooltip = tooltip;
   json.legend = legend;
   json.series = series;

   $('#container').highcharts(json);
});
</script>
<div><a style="vertical-align: middle;" href="/table">table view</a></div>

<script src="{% static 'chartshow/bootstrap/js/bootstrap.js'%}"></script>
<script src="{% static 'chartshow/scripts/main.js'%}"></script>
</body>
</html>
