{% extends 'chartshow/basePage.html' %}
{% load static %}
{% block css %}
<!--鼠标经过卡片上移-->
<style type="text/css">
    .card{transition: all .5s;}
    .card:hover{ transform: translateY(-8px);}
</style>
{% endblock %}
{% block content %}
<div class="row " style="margin-top: 80px">
    <div class="col-2 align-self-start ">
        {% include './nav.html' %}
    </div>
     <div class="col-8 "> <!-- text-center -->
         <div class="row ">
             <div class="card-deck" style="margin-bottom:10px;">
              <div class="card p-3 mb-5">
                <img class="card-img-top" src="{% static 'chartshow/images/team/Leo Tian.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Leo Tian <br/>- Project manager</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card p-3 mb-5">
                <img class="card-img-top" src="{% static 'chartshow/images/team/Sherman.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Sherman Chang <br/>- Site manager</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card p-3 mb-5">
                <img class="card-img-top" src="{% static 'chartshow/images/team/Mikhail.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Mikhail Badylevich <br/>- Site tech leader</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
             <div class="card-deck" style="margin-bottom:10px;">
              <div class="card p-3 mb-5">
                <img class="card-img-top" src="{% static 'chartshow/images/team/Janet.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Janet Huang <br/>- Site administrator</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card p-3 mb-5">
                <img class="card-img-top" src="{% static 'chartshow/images/team/Chenchen.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Chenchen Yuan <br/>- Beam engineer</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card p-3 mb-5">
                <img class="card-img-top" src="{% static 'chartshow/images/team/Haiyuan.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Haiyuan Pan <br/>- Mechanical engineer</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
             <div class="card-deck" style="margin-bottom:10px;">
              <div class="card p-3 mb-5">
                <img class="card-img-top" src="{% static 'chartshow/images/team/Jianlong.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Jianlong Wen <br/>- PPVS engineer</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card p-3 mb-5">
                <img class="card-img-top" src="{% static 'chartshow/images/team/ShugeMiao.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Shuge Miao <br/>- Cyclotron engineer</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card p-3 mb-5">
                <img class="card-img-top" src="{% static 'chartshow/images/team/Shuling.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Shuling Peng <br/>- Electrical enginer</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
             <div class="card-deck" style="margin-bottom:10px;">
              <div class="card p-3 mb-5">
                <img class="card-img-top" src="{% static 'chartshow/images/team/Yang.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Yang Zhao <br/>- Software engineer</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card p-3 mb-5">
                <img class="card-img-top" src="{% static 'chartshow/images/team/alytov.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Andriy Lytovchenko
                      <br/>- Beam engineer</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card p-3 mb-5">
                <img class="card-img-top" src="{% static 'chartshow/images/IBA-Logo.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
             <div class="card-deck" style="margin-bottom:10px;">
              <div class="card p-3 mb-5">
                <img class="card-img-top" src="{% static 'chartshow/images/IBA-Logo.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card p-3 mb-5">
                <img class="card-img-top" src="{% static 'chartshow/images/IBA-Logo.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
              <div class="card p-3 mb-5">
                <img class="card-img-top" src="{% static 'chartshow/images/IBA-Logo.jpg'%}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
         </div>
     </div>

    <div class="col-2 align-self-end">
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function() {
        $(".card").hover(function(){
            $(this).addClass("shadow bg-white rounded");
        },function(){
            $(this).removeClass("shadow bg-white rounded");
        });
    });
</script>
{% endblock %}